<p>Hi Team,</p>

<p>We are thankful for trusting and doing business with us!</p>
<p>In line with this, we are sending you the current DSH Service Invoice for the support done.</p>

<p>Please find the attached DSH Service Invoice {{invoice_no}} for this ticket / PO# {{PO}} for you reference.</p>

<p>Let us know for any clarifications and feel free to send us a message through the following emails.</p>

<p>accounts@dsmartjp.com</p>
<p>karena.axalan@dsmartjp.com</p>
<p>yukari.satou@dsmartjp.com</p>

<p>Thank you!</p>
{{#if (isDefined note)}}
<p><b>Note:</b> {{note}}</p>
{{/if}}