<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      body { font-family: "Roboto"; } .otp { border: 1px solid; font-size: 30px;
      border-color: #6DB249; border-radius: 5px; padding: 5px 10px; width: 50px;
      height: 50px; box-sizing: border-box; margin-right: 2px; margin-left: 2px;
      }
    </style>
  </head>

  <body>
    <div style='text-align: center;'>
      <div style=' line-height: 1.6;margin-bottom:20px'>
        {{! <img src="cid:headerImg" alt="HRMIS logo" style="width: 20%; height:40%;"> }}
        <hr style='color:#8D8B8A; ' />
        <p style='font-size:10px;margin-top:-70px;color:#8D8B8A;'><i>Do not
            reply</i></p>
      </div>

      <div>
        <img
          src='cid:headerImg'
          alt='HRMIS_logo'
          style='width: 20%; height:40%;'
        />
      </div>

      <h1 style='color:#EA7142; margin-bottom:20px;'>Welcome to DNSC
        <span style='color: #FFC107;'>HIS</span>
      </h1>
      <center>
        <p style='color: #595959;width:100%; font-weight:bold'>Your Account has
          been fully verified!</p>
        <p style='color: #595959;width:70%; '>There is a request to register
          your email on DNSC - HIS<br />You can now sign in your account on the
          DNSC - HIS</p>
      </center>

    </div>
  </body>

</html>